// 5 BOTONES INICIO
.botones {
	width: 15.8rem;
	height: 7rem;
	color: white;
	background: $colorTurqueson;
	text-transform: uppercase;
	align-self: center;
	font-size: 1.3rem;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	// margin-left: 2rem;
	border-radius: 10px;
	margin-left: 0px auto;

	&.ultimo {
		height: 12rem;
	}

	&.testeos {
		background-color: $naranja;
		color: black;
		width: 18rem;
		height: 3.5rem;
		font-size: 1rem;
		;
	}
}


// SECCION CONTACTO
.btn-contacto {
	color: white;
	background: $colorTurqueson;
	font-size: 1.1rem;
	border-radius: 10px;
	text-transform: uppercase;
}

// seccion CONVOCATORIAS MODAL CERRAR
.btn-cerrar {
	width: 107px;
	height: 40px;
	border-radius: 10px;
	text-transform: uppercase;
	font-size: 16px;
	color: white;
	background: grey;
}
@media (max-width: 600px ) {
	.botones {
		width: 100%!important;
		height: auto!important;
		font-size: 0.85rem!important;
	}
}