// 5 BOTONES INICIO
.botones-inicio {
	width: 14rem;
	height: 6rem;
	color: white;
	background: $colorTurqueson;
	text-transform: uppercase;
	font-size: 1rem;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	// margin-left: 2rem;
	border-radius: 10px;
	margin-left: 0px auto;
}

.botones-inicio-ultimo {
	width: 14rem;
	height: 12rem;
	color: white;
	background: $colorTurqueson;
	text-transform: uppercase;
	font-size: 1rem;
	margin-bottom: 1.5rem;
	// margin-left: 2rem;
	border-radius: 10px;
	margin-top: 1rem;
	margin-left: 0px auto;
}

// SECCION CONTACTO
.btn-contacto {
	color: white;
	background: $colorTurqueson;
	font-size: 1.1rem;
	border-radius: 10px;
}