.titulo-contacto {
    text-transform: uppercase;
    font-weight: 400;
}

.seccion-contacto {
    padding-top: 110px;
}


.imgs-redessociales {
    background-color: $colorTurqueson !important;
    color: white;
    border-radius: 50%;
    padding: 10px;
    margin-right: 8px;
    width: 45px;
    height: 45px;
}

textarea {
    border-radius: 10px;
}