.mainTitular {
    text-transform: uppercase;
    color: $colorTurqueson;
    font-weight: 400;

}

// seccion trabaja con nosotros (parrafo)
.p-trabajaconnosotros {
    text-transform: uppercase;
}

// todos labels
label {
    text-transform: uppercase;
}

//testimonials
#testimonials {
    background-color: lightgray;
}