.mainTitular {
    text-transform: uppercase;
    color: $colorTurqueson;
    font-weight: 400;

    &.titularchiquito {
        font-size: 20px;
        ;
    }
}

// seccion trabaja con nosotros (parrafo)
.p-trabajaconnosotros {
    text-transform: uppercase;
}

// todos labels
label {
    text-transform: uppercase;
}

//testimonials
#testimonials {
    background-color: lightgray;
}

// seccion convocatorias: parrafo
.p-convocatorias {
    font-size: 20px !important;
}

// seccion referencias: orden mobile instagram y video
@media(max-width: 522px) {
    .insta-feed {
        order: 2;
    }
}