#clientes {
  background-color: #49B6AF !important;
  padding: 15px;
  margin-top: 40px;
}

.owl-images {
  margin-top: 18px;
}

.seccion-contacto {
  padding-top: 110px;
}

.seccion-contacto .btn-contacto {
  color: white;
  background: #49B6AF;
  font-size: 1.1rem;
  border-radius: 10px;
}

.seccion-contacto .btn-contacto:hover {
  background-color: #3d9993;
}

.seccion-contacto .titulo-contacto {
  margin-left: 12px;
  font-weight: 400;
}

.seccion-contacto .imgs-redessociales {
  background-color: #49B6AF;
  color: white;
  border-radius: 50%;
  padding: 10px;
  margin-right: 8px;
  width: 45px;
  height: 45px;
}

.seccion-contacto .imgs-redessociales:hover {
  background-color: #3d9993;
}

.seccion-contacto .mapa {
  margin-top: 4rem !important;
}

.botones {
  width: 15.8rem;
  height: 7rem;
  color: white;
  background: #49B6AF;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  margin-left: 0px auto;
}

.botones.ultimo {
  height: 12rem;
}

.botones.testeos {
  background-color: #FCD269;
  color: black;
  width: 18rem;
  height: 3.5rem;
  font-size: 1rem;
}

.btn-contacto {
  color: white;
  background: #49B6AF;
  font-size: 1.1rem;
  border-radius: 10px;
  text-transform: uppercase;
}

.btn-cerrar {
  width: 107px;
  height: 40px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  background: grey;
}

@media (max-width: 600px) {
  .botones {
    width: 100% !important;
    height: auto !important;
    font-size: 0.85rem !important;
  }
}

header .navbar {
  background: white !important;
}

header .navbar .nav-item .nav-link {
  color: black;
}

.mainTitular {
  text-transform: uppercase;
  color: #49B6AF;
  font-weight: 400;
}

.mainTitular.titularchiquito {
  font-size: 20px;
}

#asesorSiInputs {
  display: none;
}

#asesorNoInputs {
  display: none;
}

#productorSiInputs {
  display: none;
}

#productorNoInputs {
  display: none;
}

#wpcf7-f469-o1 {
  display: none;
}

.p-trabajaconnosotros {
  text-transform: uppercase;
}

label {
  text-transform: uppercase;
}

#testimonials {
  background-color: lightgray;
}

.p-convocatorias {
  font-size: 18px !important;
  text-align: justify;
}

@media (max-width: 522px) {
  .insta-feed {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.modales {
  background-color: lightgray;
  border-radius: 27px;
  text-align: left;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #FCD269;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white !important;
}

#sidebar ul li a:active {
  color: #3e827d !important;
}

#sidebar ul li a:visited, #sidebar ul li a:active, #sidebar ul li a:focus {
  color: white !important;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #5cc5be;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #3ca8a1;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

#sidebar {
  background: #49B6AF;
}

.owl-images {
  text-align: center;
}

textarea {
  border-radius: 10px;
}

.tarjetas-inicio {
  width: 29rem;
  height: 3rem;
}

.titulos-fotos-inicio {
  background: #fcd269;
  color: black !important;
  padding: 10px;
  text-transform: uppercase;
}

.titulos-fotos-inicio a {
  color: black;
}

.seccion-quienesSomos .quienessomos-titulo {
  margin-top: 2.5rem;
}

.seccion-parrafo {
  margin: 1.5rem 0;
  font-size: 1.2rem;
}

.seccion-parrafo .seccion2-fotos {
  background: lightgray;
  padding: 40px 0;
}

.imgsQuienessomos {
  max-width: 110%;
}

.modalCajasBlancas {
  width: 22rem;
}

.modalCajasBlancas .fotosRedondas {
  width: 83%;
  margin: 20px 10px 0 10px;
}

.row-quienessomos {
  padding: 0 !important;
}

.row-quienessomos h6 {
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 11px;
  line-height: 5px;
}

.row-quienessomos span {
  text-transform: uppercase;
  font-size: 9px;
}

@media (min-width: 600px) {
  .row-quienessomos h6 {
    font-size: 20px;
    color: grey;
    margin-top: 15px;
  }
  .row-quienessomos span {
    font-size: 12px;
    color: grey;
  }
}

.col-video iframe {
  width: 360px !important;
  height: 315px !important;
}

@media (max-width: 600px) {
  .col-video {
    text-align: center;
  }
  .col-video iframe {
    width: 315px !important;
    height: 315px !important;
  }
  .botones {
    width: 100% !important;
    height: auto;
    font-size: 0.85rem;
  }
}
/*# sourceMappingURL=estilos.css.map */