@import 'variablesCrea';
@import 'footer';
@import 'contacto';
@import 'botones';
@import 'navbarra';

// GENERALES
// * {
// 	overflow-x: hidden;
// }

textarea {
	border-radius: 10px;
}



// INICIO 
.tarjetas-inicio {
	width: 29rem;
	height: 3rem;
	// background: white!important;
}

.titulos-fotos-inicio {
	background: #FCD269;
	color: black !important;
	padding: 10px;
	text-transform: uppercase;

	a {
		color: black;
	}
}




// ------- Seccion: SOBRE NOSOTROS -------

.seccion2-fotos {
	background: lightgray;
	padding: 40px 0;
}

// (Quienes somos cards) 
.imgsQuienessomos {
	width: 20rem;
	// margin-right: 25px;
}

// @media (max-width: 576px) {
// 	.imgsQuienessomos {
// 		width: 10rem;
// 	}
// }