@import 'variablesCrea';
@import 'footer';
@import 'contacto';
@import 'botones';
@import 'navbarra';

// * {
// 	overflow-x: hidden;
// }

// GENERALES
// * {
// 	overflow-x: hidden;
// }

textarea {
	border-radius: 10px;
}



// INICIO 
.tarjetas-inicio {
	width: 29rem;
	height: 3rem;
	// background: white!important;
}

.titulos-fotos-inicio {
	background: #FCD269;
	color: black !important;
	padding: 10px;
	text-transform: uppercase;

	a {
		color: black;
	}
}

// .imagen {
// 	background-image: url('images/img_3.jpg') no-repeat center/cover;
// }

// ------- Seccion: SOBRE NOSOTROS -------
.seccion-quienesSomos {
	// * {
	// 	overflow-x: hidden;
	// }

	.quienessomos-titulo {
		margin-top: 2.5rem;
	}
}

.seccion-parrafo {
	margin: 3.5rem 0;
	font-size: 1.2rem;

	.seccion2-fotos {
		background: lightgray;
		padding: 40px 0;
	}

}

// PONERLE 100% al WIDTH para q no se rompa en mobile: Y SEA RESPONSIVE
.imgsQuienessomos {
	max-width: 100%;
}


// para Mobile (SECCION FOTOS)
.row-quienessomos {
	padding: 0 !important;

	h6 {
		text-transform: uppercase;
		margin-top: 15px;
		font-size: 13px;
		line-height: 5px;
	}

	span {
		text-transform: uppercase;
		font-size: 10px;
	}

	@media(min-width: 600px) {
		h6 {
			font-size: 25px;
			color: grey;
			margin-top: 15px;
		}

		span {
			font-size: 17px;
			color: grey;
		}
	}
}

// @media (max-width: 576px) {
// 	.imgsQuienessomos {
// 		width: 10rem;
// 	}
// }