@import "variablesCrea";
@import "footer";
@import "contacto";
@import "botones";
@import "navbarra";
@import "generales";
@import 'modales';
@import 'sidebar';

// GENERALES
// * {
//   overflow-x: hidden;
// }

#sidebar {
	background: $colorTurqueson;
}

.owl-images {
	text-align: center;
}

textarea {
	border-radius: 10px;
}

// TARJETAS QUE HACEMOS Y HOME
.tarjetas-inicio {
	width: 29rem;
	height: 3rem;
	// cambios:
	margin-top: 4rem;
	font-size: 1.6rem;

}

.titulos-fotos-inicio {
	background: #fcd269;
	color: black !important;
	padding: 10px;
	text-transform: uppercase;

	a {
		color: black;
	}
}

// .imagen {
// 	background-image: url('images/img_3.jpg') no-repeat center/cover;
// }

// ------- Seccion: SOBRE NOSOTROS -------
.seccion-quienesSomos {

	.quienessomos-titulo {
		margin-top: 1rem;
		font-size: 1.8rem;
	}
}

.seccion-parrafo {
	margin: 1.5rem 0;
	font-size: 1.3rem;

	.seccion2-fotos {
		background: lightgray;
		padding: 40px 0;
	}
}

// PONERLE 100% al WIDTH para q no se rompa en mobile: Y SEA RESPONSIVE
.imgsQuienessomos {
	max-width: 70%;
}

// MODAL FOTOS
.modalCajasBlancas {
	width: 22rem;

	.fotosRedondas {
		width: 83%;
		margin: 20px 10px 0 10px;
	}
}

// para Mobile (SECCION FOTOS)
.row-quienessomos {
	padding: 0 !important;

	h6 {
		text-transform: uppercase;
		margin-top: 15px;
		font-size: 11px;
		line-height: 5px;
	}

	span {
		text-transform: uppercase;
		font-size: 9px;
	}

	@media (min-width: 600px) {
		h6 {
			font-size: 20px;
			color: grey;
			margin-top: 15px;
		}

		span {
			font-size: 12px;
			color: grey;
		}
	}
}

.col-video {
	iframe {
		width: 360px !important;
		height: 315px !important;
	}
}

@media (max-width: 600px) {
	.col-video {
		text-align: center;

		iframe {
			width: 315px !important;
			height: 315px !important;
		}
	}

	.botones {
		width: 100% !important;
		height: auto;
		font-size: 1.1rem;
		font-weight: 900;
	}
}

// @media (max-width: 576px) {
// 	.imgsQuienessomos {
// 		width: 10rem;
// 	}
// }