#clientes {
  background-color: #49B6AF !important;
  padding: 15px;
  margin-top: 40px;
}

.owl-images {
  margin-top: 18px;
}

.seccion-contacto {
  padding-top: 110px;
}

.seccion-contacto .btn-contacto {
  color: white;
  background: #49B6AF;
  font-size: 1.1rem;
  border-radius: 10px;
}

.seccion-contacto .btn-contacto:hover {
  background-color: #3d9993;
}

.seccion-contacto .titulo-contacto {
  margin-left: 12px;
  font-weight: 400;
}

.seccion-contacto .imgs-redessociales {
  background-color: #49B6AF;
  color: white;
  border-radius: 50%;
  padding: 10px;
  margin-right: 8px;
  width: 45px;
  height: 45px;
}

.seccion-contacto .imgs-redessociales:hover {
  background-color: #3d9993;
}

.seccion-contacto .mapa {
  margin-top: 4rem !important;
}

.botones {
  width: 14rem;
  height: 6rem;
  color: white;
  background: #49B6AF;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  margin-left: 0px auto;
}

.botones.ultimo {
  height: 12rem;
}

.btn-contacto {
  color: white;
  background: #49B6AF;
  font-size: 1.1rem;
  border-radius: 10px;
  text-transform: uppercase;
}

.btn-cerrar {
  width: 107px;
  height: 40px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  background: grey;
}

header .navbar {
  background: white !important;
}

header .navbar .nav-item .nav-link {
  color: black;
}

.mainTitular {
  text-transform: uppercase;
  color: #49B6AF;
  font-weight: 400;
}

.p-trabajaconnosotros {
  text-transform: uppercase;
}

label {
  text-transform: uppercase;
}

#testimonials {
  background-color: lightgray;
}

.p-convocatorias {
  font-size: 20px !important;
}

@media (max-width: 522px) {
  .insta-feed {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.modales {
  background-color: lightgray;
  border-radius: 27px;
  text-align: left;
}

.owl-images {
  text-align: center;
}

textarea {
  border-radius: 10px;
}

.tarjetas-inicio {
  width: 29rem;
  height: 3rem;
}

.titulos-fotos-inicio {
  background: #fcd269;
  color: black !important;
  padding: 10px;
  text-transform: uppercase;
}

.titulos-fotos-inicio a {
  color: black;
}

.seccion-quienesSomos .quienessomos-titulo {
  margin-top: 2.5rem;
}

.seccion-parrafo {
  margin: 3.5rem 0;
  font-size: 1.2rem;
}

.seccion-parrafo .seccion2-fotos {
  background: lightgray;
  padding: 40px 0;
}

.imgsQuienessomos {
  max-width: 110%;
}

.row-quienessomos {
  padding: 0 !important;
}

.row-quienessomos h6 {
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 11px;
  line-height: 5px;
}

.row-quienessomos span {
  text-transform: uppercase;
  font-size: 9px;
}

@media (min-width: 600px) {
  .row-quienessomos h6 {
    font-size: 20px;
    color: grey;
    margin-top: 15px;
  }
  .row-quienessomos span {
    font-size: 12px;
    color: grey;
  }
}
/*# sourceMappingURL=estilos.css.map */